*.pyc
*.yaml
!.gitkeep
*.log
*.yml
.idea
frontend/node_modules/
frontend/dist/
backend/cache
.DS_Store
model_files/*
venv
npm-debug.log*
caches/
*.p
*.pkl
*.pickle
*.csv
caches/*
test/*
*.txt
!requirement.txt
.pytest_cache
*/__pycache__/
__pycache__
*.png
.mypy_cache
Dockerfile
dockerfile
!DockerBase/Dockerfile
output_model/
resnet_v1_50/
resnet_v2_50/
vgg16/